node_modules/

# Prisma
prisma/dev.db
prisma/dev.db-journal

#.env      # не игнорируется, чтобы вам было удобно протестировать

logs
*.log
npm-debug.log*

dist/
build/
*.tsbuildinfo

.DS_Store
Thumbs.db
